body {
  margin: 0;
  background-color: hsl(212, 23%, 69%);
  font-family: "Manrope", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 40px;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}
.drawer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.share-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  padding: 7px;
  cursor: pointer;
}
h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.text {
  margin-top: 5px;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

.right {
  padding: 15px;
  background-color: white;
}
.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
.date {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}
.hidden {
  background-color: hsl(217, 19%, 35%);
  display: none;
  padding: 5px;
  border-radius: 8px;
  z-index: 1;
  padding: 5px;
  border-radius: 8px;
  float: right;
  position: absolute;
  bottom: 50%;
  text-align: center;
}
.socials {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  padding-right: 8px;
  cursor: pointer;
}
.h-text {
  color: hsl(212, 23%, 69%);
  padding-right: 12px;
  margin: 0;
}
.show {
  display: flex;
}
